# Python
__pycache__/
*.py[cod]
*.pyo
*.pyd
.Python
env/
.venv/
venv/

# Environments
.env
example.env

# Output previews
data/output_emails/

# VS Code
.vscode/

# Mac / Windows
.DS_Store
Thumbs.db
